mixin error(errorText)
	.error
		p
			=errorText

mixin authenticateError(errorText, errorDetails)
	.error
		p
			| Введите E-mail
	.error
		p
			| Введите пароль
	.authenticate-error
		p.error
			= errorText
		.error__info
			p
				=errorDetails
			p
				| Или воспользуйтесь 
				a(href='#')
					| восстановлением пароля
				|, чтобы войти на сайт.