mixin authenticateCard(text, errorText, errorDetails, placeholder1, placeholder2, link, buttonClass, buttonValue)
	.col-sm-4.col-lg-3.margin-auto
		.authenticate__card
			.authenticate__name
				h3
					= text
			form(id="authenticate-form").authenticate__form
				+authenticateError(errorText, errorDetails)
				input(type="text", name='email', placeholder=placeholder1).input
				input(type="text", name='password', placeholder=placeholder2).input
				include ../blocks/_checkbox.pug
				+button(link, buttonClass, buttonValue)