mixin buttonArrowLeft(link)
	a(href= link).button.button--arrow-left
		i(aria-hidden="true").fa.fa-arrow-left
		| Назад

mixin buttonArrowRight(link)
	a(href= link).button.button--arrow-right
		| Вперед
		i(aria-hidden="true").fa.fa-arrow-right



mixin buttonArrowLeftWithEdit(link, text)
	a(href= link).button.button--arrow-left-with-edit
		i(aria-hidden="true").fa.fa-arrow-left
		= text

mixin buttonArrowRightWithEdit(link, text)
	a(href= link).button.button--arrow-right-with-edit
		= text
		i(aria-hidden="true").fa.fa-arrow-right




mixin button(link, buttonClass, buttonValue)
	a(href= link, class= buttonClass).button
		= buttonValue

mixin submit(buttonClass, submitValue)
	.width-unset
		input(class= buttonClass, value=submitValue, type="submit").button

mixin addFile(buttonModificator)
	div
		input(class= 'inputfile', name='inputfile', id='inputfile', value='', type='file', data-multiple-caption='{count} файлов выбрано', multiple)
		label(for='inputfile', class= buttonModificator).button
			| Выбрать файл
		span.file-status.color-greyLight
			| файл не выбран