mixin editPublication(heading, inputHeading, inputType, inputName, border, inputPlaceholder, inputClassModificator, link, buttonClass, buttonValue, fileStatus, hiddenORshowed, textareaHeading, textareaType, textareaName, border, textareaPlaceholder, textareaClassModificator)
	.edit-block
		.container.section
			.row
				.col-sm-10.col-sm-push-1.flex-direction-column

					.heading.heading--black
						= heading

					+inputNamed(inputHeading, inputType, inputName, border, inputPlaceholder, inputClassModificator)

					div
						.info__element.info__element--userName.margin-bottom-unset
							| Изображение

					p.hidden-xs
						| Изображение jpg или png, рекомендуемая ширина 945px и более, высота от 400px и более, вес до 2Мб.

					p.hidden-sm.hidden-md.hidden-lg
						| jpg, png, ширина 945px и более, высота 400px и более, вес до 2Мб

					div
						.flex-direction-row.flex-start
							+button(link, buttonClass, buttonValue)
							.file-status.color-greyLight
								= fileStatus
					img(src='./img/blog/yosemite-national-park.jpg', width='25%', class= hiddenORshowed)

					+textareaNamed(textareaHeading, textareaType, textareaName, border, textareaPlaceholder, textareaClassModificator)


					.margin-top-unset
						+submit('button--submit', 'Сохранить')

					.margin-top-unset
						+submit('button--submit', 'Отмена')