mixin headerSmall(regClass, logClass)
	header.header-small
		.header__left
			.logo
				a(href="./index.html").logo__link
					i.fa.fa-paper-plane-o.logo__icon
					span.logo__title
						| Супер Сайт
		.header__right
			+authenticateLinks(regClass, logClass)