include _authenticate.pug
include _authenticate-card.pug

include _buttons.pug
include _cv-section.pug
include _data-edit-form.pug

include _edit-publication.pug
include _edit-work.pug

include _errors.pug
include _experience.pug

include _header.pug
include _header-small.pug
include _heading-with-edit.pug

include _inputs-textareas.pug
include _messages.pug

include _my-experience.pug
include _navigation.pug
include _navPannelSmallScreen.pug
include _preview-cards.pug
include _profile-block.pug
include _reviews.pug
include _technologies.pug
include _user-admin-information.pug
include _work-single-block.pug