mixin experienceBlock(binHiddenORshowed)
	.row
		.col-sm-10.col-sm-push-2.col-lg-8.col-lg-push-3.flex-direction-column

			.heading.heading--2
				| Опыт работы

			+experience('review-experience', 'февраль 2017  — сегодня', binHiddenORshowed, 'Frontend разработчик, Вконтактe, mail.ru group', 'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.')

			.line.hidden-lg

			+experience('review-experience', 'сентябрь 2015 — январь 2017', binHiddenORshowed, 'Разработчик интерфейсов, Яндекс', 'Работы в проекте Яндекс Музыка. Создание новых разделов сервиса. Оптимизация и создание новых компонентов платформы.')

			.line.hidden-lg

			+experience('review-experience', 'март 2013 — август 2015', binHiddenORshowed, 'Веб-разработчик, Cloud studio', 'Frontend и Backend для клиентских проектов студии. Работа над студийной CMS для интернет магазинов. Участие в разработке CRM системы “Sky CRM”. Стек используемых технологий: Git, JS, Angular.')