mixin navigation(navClass, linkClass)
	ul(class= navClass)
		li
			a(href='index.html', class= linkClass)
				| Главная
		li
			a(href='about.html', class= linkClass)
				| Обо мне
		li
			a(href='works.html', class= linkClass)
				| Работы
		li
			a(href='blog.html', class= linkClass)
				| Блог
		li
			a(href='contacts.html', class= linkClass)
				| Контакты