mixin userPhoto(userPhotoLink, userPhotoClass)
	.width-unset
		a(href='to-do-list.html').user-photo-link
			.user-photo(style=userPhotoLink, class=userPhotoClass)


mixin userInfo(userHiddenOrShowed, userPhotoLink, userPhotoClass, userName, userType, buttonClass, buttonValue1, buttonValue2)
	.flex-direction-row(class= userHiddenOrShowed).user-info-block
		+userPhoto(userPhotoLink, userPhotoClass)
		i
		.flex-direction-column
			.info__element.info__element--userName.color-white
				= userName
			.info__element.info__element--userType.text-align-center
				= userType
			.flex-start
				+button(link, buttonClass, buttonValue1)
				+button(link, buttonClass, buttonValue2)


mixin adminInfo(adminHiddenOrShowed, userPhotoLink, userPhotoClass, adminName, link, buttonClass, buttonValue)
	div(class= adminHiddenOrShowed)
		.flex-direction-row.admin-info-block
			+userPhoto(userPhotoLink, userPhotoClass)
			i
			.flex-direction-column
					.info__element.info__element--userNameAdmin
						= adminName
					.flex-start
						+button(link, buttonClass, buttonValue)
		.flex-direction-row.hidden-md.hidden-lg
			a(href="#", id= "admin-nav-1").admin-tab.col-xs-6.text-align-center
				| Страницы
			a(href="#", id= "admin-nav-2").admin-tab.col-xs-6.text-align-center
				| Админка