mixin userPhoto(userPhotoLink, userPhotoClass)
	a(href='current-bugs.html')
		.user-photo(style=userPhotoLink, class=userPhotoClass)


mixin userInfo(userInfoClass, userPhotoLink, userPhotoClass, userName, userType, buttonClass, buttonValue1, buttonValue2)
	.flex-direction-row(class= userInfoClass).user-info-block
		+userPhoto(userPhotoLink, userPhotoClass)
		i
		.flex-direction-column
			.info__element.info__element--userName.color-white
				= userName
			.info__element.info__element--userType.text-align-center
				= userType
			.flex-start
				+button(link, buttonClass, buttonValue1)
				+button(link, buttonClass, buttonValue2)


mixin adminInfo(adminInfoClass, userPhotoLink, userPhotoClass, adminName, link, buttonClass, buttonValue)
	.flex-direction-row(class= adminInfoClass).admin-info-block
		+userPhoto(userPhotoLink, userPhotoClass)
		i
		.flex-direction-column
				.info__element.info__element--userNameAdmin
					= adminName
				.flex-start
					+button(link, buttonClass, buttonValue)
	.flex-direction-row.hidden-md.hidden-lg
				.col-xs-6.admin-tab.text-align-center
					a(href='register.html')
						| Страницы
				.col-xs-6.admin-tab.text-align-center
					a(href='register.html')
						| Админка