mixin work-single(hiddenORshowed)
	.work-single-bg
		+header('hidden', 'navigation-main__link', 'hidden', 'hidden', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')
		
		.container.section
			.row
				.col-sm-10.col-sm-push-1
					+headingWithEdit('heading--black', 'Верстка и frontend Интернет магазина', 'hidden', 'none', hiddenORshowed, '#', 'button--edit', 'Редактировать')

					.info
						p.info__element.color-grey
							| Ольга Бэйл
						p.info__element.color-blue
							| Работа
						p.info__element.color-greyLight
							| 16 Марта 2017

			.row
				.col-sm-10.col-sm-push-1
					img(src='./img/works/work-00.jpg').blog-photo
	.line

	.section(id='padding-big')
		.container
			.row
				.col-sm-10.col-sm-push-1

					.col-sm-5
						.heading.heading--black
							| Кратко о проекте
						| Сделана верстка и фронтэнд для интернет магазина мебели. Сверстано более 50-ти страниц. Сделаны все эффекты и интерактив. В работе использованы препроцессоры pug и less. Интерактив написан на JavaScript. Весь проект протестирован на своместимость, начиная с IE9. Для старых браузеров использован подход Graceful Degradation.

						.info__element--userName
							| Время работы над проектом: 6 недель
						.info__element--userName
							| Страниц сверстано: 52 страницы
						.info__element--userName
							| Бюджет проекта: до 60 000 рублей

						.heading.heading--black
							| Результат
						| Проект сделан в срок. Заказчик доволен. Сайт запущен, работает и уже радует покупками посетителей и владельцев бизнеса.

					.col-sm-4.col-sm-push-1
						.flex-direction-column
							.heading.heading--black
								| Технологии
							.padding-medium
								| • HTML5, CSS3.
							.padding-medium
								| • JavaScript, jQuery.
							.padding-medium
								| • LESS, PUG, Gulp, npm, bower.

							.heading.heading--black
								| Ссылка на проект
							a(href='#').color-blue
								| http://magnum-store.ru

							.heading.heading--black
								| Ссылка на GitHub
							a(href='#').color-blue
								| https://github.com/pozitive/magnumstore/