//MAIN
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body {
	height: 100%;
	min-width: 320px;
	margin: 0;	
	font-family: 'Open Sans';
}

body.big{
	max-height: 100%;
	height: 100%;
	max-width: 100%;
	width: 100%;	
}

body.big-transparent{    // see logo.less
}

body.small{	
	background: linear-gradient(to bottom, @gradient 0%, transparent 25%, transparent 80%, @gradient 100%), url("../img/nainoa-shizuru-58159.png");		
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

//===================================================================

//MAIN TAGS

textarea, input, img, iframe{
	width: 100%;
}

textarea{
	height: 100px;
}

i{
	
	margin-right: 8px;
}

p{
	font-size: 14px;
	@media (min-width: 768px){
	     font-size: 16px;	    
	}
}

iframe{
	margin: 0;
	padding: 0;
}	
	
//===================================================================

//FLEX CLASSES

.flex-direction-row{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.flex-direction-column{
	display: flex !important;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    -webkit-justify-content: space-between;
	        justify-content: space-between;
}

.flex-start{
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
}

.flex-end{
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
}

//===================================================================

//TEXT & BACKGROUND COLOR CLASSES

.color-blue{
	color: @blue;
}	

.color-bluePale{
	color: @bluePale;
}	

.color-grey{
	color: @grey;
}

.color-greyLight{
	color: @greyLight;
}

.color-white{
	color: @white;
}

.color-black{
	color: @black;
}

.color-yellow{
	color: @yellow;
}

.background-color-black{
	background-color: @black;
}

.background-color-grey{
	background-color: @grey;
}

//===================================================================

//PADDING & MARGIN CLASSES

.padding-big{
        padding-bottom: 22px;
        @media (min-width: 768px){    
        padding-bottom: 45px;
        }
        @media (min-width: 992px){    
        padding-bottom: 58px;
        }
        @media (min-width: 1200px){    
        padding-bottom: 70px;
        }
}

.padding-medium{
	padding-bottom: 6.8px;
        @media (min-width: 768px){    
        padding-bottom: 12.8px;
        }
        @media (min-width: 992px){    
        padding-bottom: 16.5px;
        }
        @media (min-width: 1200px){    
        padding-bottom: 20px;
        }
}

.padding-small{
	padding-bottom: 10px;
        @media (min-width: 768px){    
        padding-bottom: 12.8px;
        }
        @media (min-width: 992px){    
        padding-bottom: 10px;
        }
        @media (min-width: 1200px){    
        //padding-bottom: 20px;
        }
}

.padding-0{
	padding-left: 0;
	padding-right: 0;
}

.padding-left-0{
	padding-left: 0;
}

.padding-bottom-xs-15{
	@media (max-width: 767px){    
        padding-bottom: 20px !important;
    }
}

//   *   *   *   *   *

.margin-top-unset{
	input{
	    margin-top: unset;
	}
}

.margin-bottom-unset{
	margin-bottom: unset !important;
}

.margin-auto{
	margin: auto;
}

.margin-top-0{
	margin-top: 0;
}

.margin-0{
	margin: 0;
}

.margin-left-5{
	margin-left: 5px;
}

.margin-right-5{
	margin-right: 5px;
}

.margin-bottom-10{
	margin-bottom: 10px;
}

.margin-bottom-25{
	margin-bottom: 25px;
}

.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-bottom-xs-15{
	@media (max-width: 767px){    
        margin-bottom: 20px !important;
    }
}

.margin-right-per-small{
	margin-right: 1.5%;
}

//   *   *   *   *   *

.move-left-15{
	margin-left: -15px;
}

.move-top-15{
	margin-top: -15px;
}

.move-top-10{
	margin-top: -10px;
}

//===================================================================

//WIDTH

.width-unset, .width-unset .button, .width-unset a{  
    width: unset !important;    
}

//===================================================================

//ALIGNs

.text-align-center{
	text-align: center !important;
}

.xs-align-left{
	@media (max-width: 767px) {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
	}
}

//===================================================================

//TEXT SIZEs

.font-size-unset {
	p{
		font-size: unset !important;
	    color: unset !important;		
	}
}

.font-size26{
	font-size: 26px;
}

.font-size28{
	font-size: 28px;
}

.font-weight600{
	font-weight: 600;
}

//===================================================================

//ELEMENTS

.line{
	border-top: 1px solid #eaeff5;
}

.text-decoration-line-through{
	text-decoration:line-through;
}

//===================================================================