@gradient: #4F94CD; //#5CACEE; //#00C5CD; //#008B8B; //#7AC5CD; //#009ACD; //#5CACEE; //#4876FF; //#8DB6CD; //#1C86EE;
@yellow: #FFCF00;
@grey: #252525;
@greyLight: #6c6c6c;
@greyVeryLight: rgb(238, 240, 242);
@blue: #037ec6;
@blueLight: #dde8ee;
