@gradient: #4F94CD;
@yellow: #FFCF00;
@grey: #252525;
@greyLight: #6c6c6c;
@greyVeryLight: rgb(238, 240, 242);
@greyVeryLightOpacity: rgba(238, 240, 242, 0.5);
@black: #000;
@white: #fff;
@blue: #037ec6;
@blueLight: #dde8ee;
@bluePale: #81C5EE;
@yellow: #ffba00;

