.info.info__list.info__list--article
	ul
		li.info__element.color-grey
			| Ольга Бэйл
		li.info__element.color-blue
			| Путешествия
	ul
		li.info__element.color-greyLight
			| 07 Июля 2017
		li.info__element.color-blue
			| 2 комментария
img(src='./img/blog/yosemite-national-park.jpg').blog-photo
.section__content
	p
		| Национальный парк Йосемити находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов. 
.section__content
	p
		| Центром парка является долина Йосемити, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.

.flex-direction-row
	+buttonArrowLeft('blog.html')
	+buttonArrowRight('#')