mixin authenticateCard(text, placeholder1, placeholder2, errorWarn, errorText, buttonValue)
	.authenticate__card
		.authenticate__name
			h3
				= text
		form(id="authenticate-form").authenticate__form
			+authenticateError(errorWarn, errorText)
			input(type="text", name='email', placeholder=placeholder1).authenticate__input
			input(type="text", name='password', placeholder=placeholder2).authenticate__input
			include _checkbox.pug
			+button(buttonValue)