mixin buttonArrowLeft(link)
	a(href= link).button 
		i(aria-hidden="true").fa.fa-arrow-left
		| Назад

mixin buttonArrowRight(link)
	a(href= link).button
		| Вперед
		i(aria-hidden="true").fa.fa-arrow-right

mixin button(buttonValue, link)
	a(href=link).button
		= buttonValue