<!-- Комментарии -->
.heading.heading--2
	| 2 комментария

.flex-direction-column
	+review('background-image: url(usercontent/img/users/user-photo-01.jpg)', 'user-photo--review', 'Джон До', '05 Мая 2017 года в 15:45', 'Замечательный парк, обязательо отправлюсь туда этим летом.')
	+review('background-image: url(usercontent/img/users/small/user-photo-04.jpg)', 'user-photo--review', 'Емельян Казаков', '05 Мая 2017 года в 15:45', 'Замечательный парк!')
	+review('background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--review', 'Джоанна До', '05 Мая 2017 года в 15:45', 'Замечательный парк, обязательо отправлюсь туда этим летом. waednwe vndojc wejdbeisdc icerofnr frvnfifuvb ewduhewhoifhf jvndfiubv efubeiubf fovndujbve')

.heading.heading--2
	| Оставить комментарий