<!-- footer -->	
.footer(id="footer").flex-direction-column
	.container
		.row
			<!-- col -->
			.col-xs-12.col-sm-6.col-md-4
				include _footer-small.pug
			<!-- colEnd -->

			<!-- col -->
			.col-xs-12.col-sm-2.col-md-3.col-md-push-1
				+navigation('navigation-footer', 'navigation-footer__link')
			<!-- colEnd -->

			<!-- col -->
			.col-xs-12.col-sm-3.col-md-4
				.social
					a(href="https://vk.com/id2356431" target="blank" aria-hidden="true").fa.fa-vk
					a(href="http://instagram.com/olya_bale" target="blank" aria-hidden="true").fa.fa-instagram
					a(href="https://www.facebook.com/olga.belousova.3348" target="blank" aria-hidden="true").fa.fa-facebook
					a(href="https://github.com/accendino" target="blank" aria-hidden="true").fa.fa-github
				<!-- colEnd -->

				<!-- footerEnd -->