header.header
	.header__left
		.logo
			a(href="./index.html").logo__link
				i.fa.fa-paper-plane-o.logo__icon
				span.logo__title
					| Digital Lifestyle
				p.logo__tagline
					| Сайт IT специалиста
		nav.navigation-main
			a(href='index.html').navigation-main__link
				| Главная
			a(href='about.html').navigation-main__link
				| Обо мне
			a(href='works.html').navigation-main__link
				| Работы
			a(href='blog.html').navigation-main__link
				| Блог
			a(href='contacts.html').navigation-main__link
				| Контакты
	.header__right
		.authenticate__links
			a(href='register.html', class='showed')
				| Регистрация
			a(href='login.html', class='showed')
				| Вход
		
			