.heading.heading--2
	| Технологии

.flex-direction-row.flex-start.padding-medium.hidden-xs
	+dataEditFormSmall('HTML5', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')
	+dataEditFormSmall('CSS3', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')
	+dataEditFormSmall('JS', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')
	+dataEditFormSmall('jQuery','text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')

.flex-direction-row.flex-start.padding-medium.hidden-sm.hidden-md.hidden-lg
	+dataEditFormSmall('HTML5', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')
	+dataEditFormSmall('CSS3', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')

.flex-direction-row.flex-start.padding-medium.hidden-sm.hidden-md.hidden-lg
	+dataEditFormSmall('JS', 'text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')
	+dataEditFormSmall('jQuery','text', 'name', 'border: 1px solid lightgrey', '50', '.input-subscription', 'showed')




.flex-direction-row.flex-start.padding-medium
	+dataEditFormSmall('PHP', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('MySql', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	



.flex-direction-row.flex-start.padding-medium.hidden-xs
	+dataEditFormSmall('Git', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('Gulp', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('Bower', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('WebPack', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')

.flex-direction-row.flex-start.padding-medium.hidden-sm.hidden-md.hidden-lg
	+dataEditFormSmall('Git', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('Gulp', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')

.flex-direction-row.flex-start.padding-medium.hidden-sm.hidden-md.hidden-lg
	+dataEditFormSmall('Bower', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')
	+dataEditFormSmall('WebPack', 'text', 'name', 'border: 1px solid lightgrey', '50', 'input--small', 'showed')