.container.section.edit-block
	.row
		.col-sm-6.flex-direction-column

			.heading.heading--black
				| Контакты

			.flex-direction-row.flex-start.info__list-small.contacts-row
				.col-sm-5.col-lg-4.info__element.info__element--userName
					| Email
				.info__element
					a(href='mailto:achendina@gmail.com').color-blue
						| ahendina@gmail.com

			.flex-direction-row.flex-start.info__list-small.contacts-row
				.col-sm-5.col-lg-4.info__element.info__element--userName
					| Skype
				.info__element
					a(href='skype:achendina6246?chat').color-blue
						| achendina6246
								
			.flex-direction-row.flex-start.info__list-small.contacts-row
				.col-sm-5.col-lg-4.info__element.info__element--userName
					| Социальные сети
				.flex-direction-column
					a(href='https://vk.com/id2356431', target="blank").info__element.info__element--userName.color-blue
						| Профиль Вконтакте
					a(href='https://www.facebook.com/olga.belousova.3348', target="blank").info__element.info__element--userName.color-blue
						| Профиль Facebook

			.flex-direction-row.flex-start.info__list-small.contacts-row
				.col-sm-5.col-lg-4.info__element.info__element--userName
					| Телефон
				.info__element
					| +595-456-123
					
			.flex-direction-row.flex-start.info__list-small.contacts-row
				.col-sm-5.col-lg-4.info__element.info__element--userName
					| Адрес
				.info__element
					| Великобритания,
					br.hidden-xs.hidden-md.hidden-lg
					|  Кент, г. Уитстабл


		.col-sm-6.flex-direction-column

			.heading.heading--black
				| Связаться со мной

			+input('text', 'name', 'border: 1px solid lightgrey', 'Введите имя', 'none')
			+input('text', 'name', 'border: 1px solid lightgrey', 'Email', 'none')

			+textarea('text', 'name', 'border: 1px solid lightgrey', 'Сообщение', 'none')

			div
				.info__element.info__element--userName
					| Прикрепить файл
			p
				| jpg, png, pdf, doc, весом до 2Мб.
		
				
			div
				.flex-direction-row.flex-start
					+button('#', 'button--addFileRound', 'Выбрать файл')
					.file-status.file-status--message.color-greyLight
						| my-lovely-photo.jpg
				+button('#', 'button--submit-small', 'Отправить')

div(id="map")

//-section.map-wrapper
//-	div(id="map")
//-	adress.contact-block
//-		| Контакты