.heading.heading--2
	| Опыт работы
+experience('review', 'февраль 2017  — по настоящее время', 'showed', 'Frontend разработчик, Вконтактe, mail.ru group', 'Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.')

+experience('review', 'сентябрь 2015 — январь 2017', 'showed', 'Разработчик интерфейсов, Яндекс', 'Работы в проекте Яндекс Музыка. Создание новых разделов сервиса. Оптимизация и создание новых компонентов платформы.')

+experience('review', 'март 2013 — август 2015', 'showed', 'Веб-разработчик, Cloud studio', 'Frontend и Backend для клиентских проектов студии. Работа над студийной CMS для интернет магазинов. Участие в разработке CRM системы “Sky CRM”. Стек используемых технологий: Git, JS, Angular.')

.heading.heading--2
	| Добавить новое место
.review.flex-direction-column
	+inputNamed('Период', 'text', 'name', 'border: 1px solid lightgrey', 'Введите даты начала и окончания работы..', 'none')
	+inputNamed('Название должности', 'text', 'name', 'border: 1px solid lightgrey', 'Введите название должности..', 'none')
	+textareaNamed('Описание работы, должностные обязанности, достигнутые результаты', 'text', 'name', 'border: 1px solid lightgrey', 'Напишите интересное краткое содержательное описание..', 'none')
	+submit('button--submit', 'Добавить')