.section
	.container
		.row
			.col-xs-12
				+headingWithEdit('heading--black', 'Работы', 'showed', 'которые сделала я и моя команда', 'hidden', 'blog-edit.html', 'button--edit', 'Редактировать')


		<!-- Ряд с работами -->
		.row.preview__row.flex-direction-row
			+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/01-prev.jpg', 'Верстка Landing Page', 'work-single.html', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
		<!-- //Ряд с работами -->

		<!-- Ряд с работами -->
		.row.preview__row.flex-direction-row
			+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка Landing Page', '#', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
		<!-- //Ряд с работами -->

		<!-- Ряд с работами -->
		.row.preview__row.flex-direction-row
			+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка Landing Page', '#', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
			+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
		<!-- //Ряд с работами -->