extends ./templates/_template.pug

block variables
	- var title = 'Обо мне'
	- var bodyClass = 'big'


block content

	//- +logo('logo-big', 'Digital Lifestyle', 'showed', 'showed', 'showed')

	+footerSmall