extends ./templates/_template.pug

block variables
	- var title = 'Обо мне'
	- var bodyClass = 'big'


block content

	include ./blocks/_admin-pannel.pug
	+navPannelSmallScreen('hidden', 'showed', 'hidden')

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	.container.section
		+cv('none', 'Ольга Бэйл', 'hidden', 'none', 'showed', 'about-edit.html', 'button--edit','Редактировать')
	
	include ./blocks/_my-technologies.pug

	.container.section
		+experienceBlock('showed')

	footer
		include ./blocks/_footer.pug