extends ./templates/_template.pug

block variables
	- var title = 'Добавить пост'
	- var bodyClass = 'big'


block content

	include ./blocks/_admin-pannel.pug
	+navPannelSmallScreen('hidden', 'showed', 'hidden')

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	+editPublication('Добавить пост', 'Название', 'text', 'name', 'border: 1px solid lightgrey', 'Введите имя..', 'none', '#', 'button--addFile', 'Выбрать файл', 'файл не выбран', 'hidden', 'Содержание', 'text', 'name', 'border: 1px solid lightgrey', 'Введите город..', 'none', 'button--submit', 'Сохранить', 'button--submit', 'Отмена')

	footer
		include ./blocks/_footer.pug