extends ./templates/_template.pug

block variables
	- var title = 'Блог'
	- var bodyClass = 'big'


block content

	include ./blocks/_header.pug

	.container.preview__container(id='padding-big')
		.row.preview__row
			.col-sm-6.col-md-4
				h3.preview__name
					| Блог веб-разработчика
		.row.preview__row
			+previewCard('img/blog/01-prev.jpg', 'Парк Йосемити', 'Читать', 'blog-single.html')
			+previewCard('img/blog/02-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+previewCard('img/blog/03-prev.jpg', 'Как я ходил в поход', 'Читать', '#')
		.row.preview__row
			+previewCard('img/blog/06-prev.jpg', 'Поездка в New York', 'Читать', '#')
			+previewCard('img/blog/04-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+previewCard('img/blog/05-prev.jpg', 'Как я ходил в поход', 'Читать', '#')
		.row.preview__row
			+previewCard('img/blog/06-prev.jpg', 'Поездка в New York', 'Читать', '#')
			+previewCard('img/blog/02-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+previewCard('img/blog/03-prev.jpg', 'Как я ходил в поход', 'Читать', '#')

	footer
		include ./blocks/_footer.pug