extends ./templates/_template.pug

block variables
	- var title = 'Блог'
	- var bodyClass = 'big'


block content

	include ./blocks/_header.pug

	.container.blog
		.row
			.col-sm-6.col-md-4
				h3.blog__name
					| Блог веб-разработчика
		.row.blog__section
			+blog-post-preview('img/blog/01-prev.jpg', 'Поездка в New York', 'Читать', '#')
			+blog-post-preview('img/blog/02-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+blog-post-preview('img/blog/03-prev.jpg', 'Как я ходил в поход', 'Читать', '#')
		.row.blog__section
			+blog-post-preview('img/blog/04-prev.jpg', 'Поездка в New York', 'Читать', '#')
			+blog-post-preview('img/blog/02-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+blog-post-preview('img/blog/05-prev.jpg', 'Как я ходил в поход', 'Читать', '#')
		.row.blog__section
			+blog-post-preview('img/blog/01-prev.jpg', 'Поездка в New York', 'Читать', '#')
			+blog-post-preview('img/blog/02-prev.jpg', 'Что я делал в долине', 'Читать', '#')
			+blog-post-preview('img/blog/03-prev.jpg', 'Как я ходил в поход', 'Читать', '#')

	footer
		include ./blocks/_footer.pug