extends ./templates/_template.pug

block variables
	- var title = 'Национальный парк Йосемити'
	- var bodyClass = 'big'


block content

	+navPannelSmallScreen('hidden', 'hidden', 'showed')

	+header('navigation-main', 'navigation-main__link', 'showed', 'showed', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	.container.section
		.row
			.col-sm-10.col-sm-push-1

				+headingWithEdit('heading--black', 'Национальный парк Йосемити', 'hidden', 'none', 'hidden', '#', 'button--edit', 'Редактировать')
				
				include ./blocks/_article.pug

				include ./blocks/_comments.pug
						
				.error(id="reviewError").flex-direction-column
					div
					div
						p
							a(href='login.html')
								| Войдите
							|  или 
							a(href='register.html')
								| зарегистрируйтесь,
							br
							|  чтобы оставить комментарий
					div
				<!-- //Комментарии -->

	footer
		include ./blocks/_footer.pug