extends ./templates/_template.pug

block variables
	- var title = 'Контакты'
	- var bodyClass = 'big'


block content

	include ./blocks/_navPannel-smallScreen.pug

	+header('navigation-main', 'navigation-main__link', 'showed', 'showed', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	include ./blocks/_my-contacts.pug

	footer
		include ./blocks/_footer.pug