extends ./templates/_template.pug

block variables
	- var title = 'Контакты'
	- var bodyClass = 'big'


block content

	include ./blocks/_admin-pannel.pug
	+navPannelSmallScreen('hidden', 'showed', 'hidden')

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	.container
		.row
			//- .col-xs-6.col-xs-push-6.col-md-push-5.flex-direction-row.row-fixed.info__list-small
			.col-md-12
				.buttons-in-row-right-side
					+button('#', 'button--edit', 'Редактировать')
					+button('#', 'button--submit', 'Сообщения')

	include ./blocks/_my-contacts.pug

	footer
		include ./blocks/_footer.pug