extends ./templates/_template.pug

block variables
	- var title = 'Текущие ошибки'
	- var bodyClass = 'background-color-grey'


block content
	.container.section
		.row
			.col-sm-10.col-sm-push-1

				.heading
					| Текущие ошибки


				.review.flex-direction-column
					.info__element.info__element--userName
						| 0. input, textarea
					.info__element.flex-direction-column
						p.text-decoration-line-through
							| 0.1 Добавить проверку заполненности полей.
						p
							| 0.2 Убирать placeholder - переделать на более универсальное.						


				.review.flex-direction-column
					.info__element.info__element--userName
						| 1. Contacts
					.info__element.flex-direction-column
						p
							| 1.1 На экране sm глюк в строке с адресом.
						p
							| 1.2 Поставить по-лучше карту.


				.review.flex-direction-column
					.info__element.info__element--userName
						| 2. Кнопка "добавить файл"
					.info__element.flex-direction-column
						p
							| 2.1 При нажатии рамка появляется нехорошая.


				.review.flex-direction-column
					.info__element.info__element--userName
						| 3. Logo
					.info__element.flex-direction-column
						p
							| 3.1 На маленьких экранах - слишком маленький отступ слева.?


				.review.flex-direction-column
					.info__element.info__element--userName
						| 4. Footer-big
					.info__element.flex-direction-column
						p
							| 4.1 Добавить разрыв после  "WebCademy.ru" для экранов md.
						p
							| 4.1 Сердечко, уменьшить отступы.


				.review.flex-direction-column
					.info__element.info__element--userName
						| 5. Технологии
					.info__element.flex-direction-column
						p
							| 5.1 Добавить обводку :)
						p
							| 5.2 На экране sm - сдвинуть блок с названиями технологий вправо на 15рх. или не надо.