extends ./templates/_template.pug

block variables
	- var title = 'Обо мне'
	- var bodyClass = 'big'


block content

	include ./mixins/_header.pug

	.container
		+buttonArrowLeft('#')

		+buttonArrowRight('#')

		+button('#', 'button--preview', 'Читать')

		+button('#', 'none', 'Читать')
	
		+submit('button--submit', 'Опубликовать')

	footer
		include ./blocks/_footer.pug


