extends ./templates/_template.pug

block variables
	- var title = 'Главная'
	- var bodyClass = 'big'


block content

	+logo('logo-big', 'Digital Lifestyle', 'showed', 'showed', 'showed')

	h1 Главная страница

	+button("Кнопка 1", "google.com")
	+button("Кнопка 2", "rambler.ru")


	+blog-post-preview("Название поста 1", "img/blog/01-prev.jpg")
	+blog-post-preview("Название поста 2", "img/blog/01-prev.jpg")
	+blog-post-preview("Название поста 3", "img/blog/01-prev.jpg")

	+footerSmall