extends ./templates/_template.pug

block variables
	- var title = 'Вход'
	- var bodyClass = 'small'


block content

	+headerSmall('showed', 'hidden')

	+authenticateCard('Вход на сайт', 'E-mail', 'Пароль', 'Неверный email или пароль', 'Введите верные данные для входа!', 'Войти')

	include ./blocks/_footer-small.pug