extends ./templates/_template.pug

block variables
	- var title = 'Вход'
	- var bodyClass = 'small'


block content

	+headerSmall('showed', 'hidden')

	+authenticateCard('Вход на сайт', 'Неверный email или пароль', 'Введите верные данные для входа!', 'E-mail', 'Пароль', '#', 'button--authenticate', 'Войти')

	footer
		include ./blocks/_footer-small.pug