extends ./templates/_template.pug

block variables
	- var title = 'Профиль'
	- var bodyClass = 'big'


block content

	include ./blocks/_admin-pannel.pug
	+navPannelSmallScreen('hidden', 'showed', 'hidden')

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'showed', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')
	
	.container.section.edit-block
		.row
			.col-sm-10.col-sm-push-1.flex-direction-column

				.heading.heading--black
					| Редактировать профиль


				.hidden-xs
					.flex-direction-column.move-left-15
						+dataEditForm('Имя', 'text', 'name', 'border: 1px solid lightgrey', 'Введите имя..', 'hidden')
						+dataEditForm('Фамилия', 'text', 'name', 'border: 1px solid lightgrey', 'Введите фамилию..', 'hidden')
						+dataEditForm('Email', 'text', 'name', 'border: 1px solid lightgrey', 'Введите email..', 'hidden')

				.hidden-sm.hidden-md.hidden-lg
					.flex-direction-column
						+inputNamed('Имя', 'text', 'name', 'border: 1px solid lightgrey', 'Введите имя..', 'none')
						+inputNamed('Фамилия', 'text', 'name', 'border: 1px solid lightgrey', 'Введите фамилию..', 'none')
						+inputNamed('Email', 'text', 'name', 'border: 1px solid lightgrey', 'Введите email..', 'none')

			.col-sm-10.col-sm-push-1.flex-direction-column
				div
					.info__element.info__element--userName
						| Изображение

				p.hidden-xs
					| Изображение jpg или png, рекомендуемая ширина 945px и более, высота от 400px и более, вес до 2Мб.

				p.hidden-sm.hidden-md.hidden-lg
					| jpg, png, ширина 945px и более, высота 400px и более, вес до 2Мб

				+addFile('button--addFileRound')

				img(src='./img/blog/yosemite-national-park.jpg', width='25%').hidden

				.hidden-xs
					.flex-direction-column.move-left-15
						+dataEditForm('Страна', 'text', 'name', 'border: 1px solid lightgrey', 'Введите страну..', 'hidden')
						+dataEditForm('Город', 'text', 'name', 'border: 1px solid lightgrey', 'Введите город..', 'hidden')

				.hidden-sm.hidden-md.hidden-lg
					.flex-direction-column
						+inputNamed('Страна', 'text', 'name', 'border: 1px solid lightgrey', 'Введите страну..', 'none')
						+inputNamed('Город', 'text', 'name', 'border: 1px solid lightgrey', 'Введите город..', 'none')

			.col-sm-10.col-sm-push-1
				.flex-direction-row.flex-start.padding-medium.width-unset
					div.margin-right-per-small
						+submit('button--submit', 'Сохранить')
					div
						+submit('button--submit', 'Отмена')

	footer
		include ./blocks/_footer.pug