extends ./templates/_template.pug

block variables
	- var title = 'Регистрация'
	- var bodyClass = 'small'


block content

	+headerSmall('hidden', 'showed')

	+authenticateCard('Регистрация', 'Данный email уже занят', 'Используйте другой (!) email чтобы создать новый аккаунт.', 'E-mail', 'Пароль', '#', 'button--authenticate', 'Регистрация')

	footer
		include ./blocks/_footer-small.pug