extends ./templates/_template.pug

block variables
	- var title = 'Текущие ошибки'
	- var bodyClass = 'background-color-grey'


block content
	.container.section
		.row
			.col-sm-10.col-sm-push-1

				.heading
					| Доработать


				.review.flex-direction-column
					.info__element.info__element--userName
						| 1. Технологии
					.info__element.flex-direction-column
						p
							| 1.1 Добавить обводку :)
						p
							| 1.2 На экране sm - сдвинуть блок с названиями технологий вправо на 15рх. или не надо.	

				.review.flex-direction-column
					.info__element.info__element--userName
						| 2. PHP
					.info__element.flex-direction-column
						p
							| 2.1 PHP

				.review.flex-direction-column
					.info__element.info__element--userName
						| 3. Logo
					.info__element.flex-direction-column
						p
							| 3.1 На маленьких экранах - слишком маленький отступ слева.?


				.review.flex-direction-column
					.info__element.info__element--userName
						| 4. Footer-big
					.info__element.flex-direction-column
						p
							| 4.1 Добавить разрыв после  "WebCademy.ru" для экранов md.
						p
							| 4.1 Сердечко, уменьшить отступы.


				.review.flex-direction-column
					.info__element.info__element--userName
						| 5. Миксины
					.info__element.flex-direction-column
						p
							| 5.1 Убрать ссылку с фтографий пользователей.
						p
							| 5.2 Парамерты.
						p
							| 5.2 Посмотреть, что убрать из миксинов.