extends ./templates/_template.pug

block variables
	- var title = 'Работа'
	- var bodyClass = 'big-transparent'


block content

	//-+navPannelSmallScreen('hidden', 'hidden', 'showed')

	+workSingleBlock('hidden')

	footer
		include ./blocks/_footer.pug