extends ./templates/_template.pug

block variables
	- var title = 'Работы'
	- var bodyClass = 'big'


block content
	
	include ./blocks/_navPannel-smallScreen.pug

	+header('navigation-main', 'navigation-main__link', 'showed', 'showed', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	.section
		.container
			.row
				.col-xs-12
					+headingWithEdit('heading--black', 'Работы', 'showed', 'которые сделал я и моя команда', 'hidden', 'blog-edit.html', 'button--edit', 'Редактировать')


			<!-- Ряд с работами -->
			.row.preview__row.flex-direction-row
				+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка Landing Page', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
			<!-- //Ряд с работами -->

			<!-- Ряд с работами -->
			.row.preview__row.flex-direction-row
				+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка Landing Page', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
			<!-- //Ряд с работами -->

			<!-- Ряд с работами -->
			.row.preview__row.flex-direction-row
				+previewCard('none', 'none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка Landing Page', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs','none', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка UI набора', '#', 'button--preview', 'Смотреть кейс')
				+previewCard('hidden-xs', 'hidden-sm', 'preview__card--workPicture', 'img/works/small/00-prev.jpg', 'Верстка интернет магазина', '#', 'button--preview', 'Смотреть кейс')
			<!-- //Ряд с работами -->
	
	footer
		include ./blocks/_footer.pug