extends ./templates/_template.pug

block variables
	- var title = 'Работы'
	- var bodyClass = 'big'


block content

	include ./blocks/_admin-pannel.pug
	include ./blocks/_navPannel-smallScreen.pug

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'hidden', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	+editWork('Добавить работу', 'park-image.jpg', 'showed')

	footer
		include ./blocks/_footer.pug