extends ./templates/_template.pug

block variables
	- var title = 'Работа'
	- var bodyClass = 'big-transparent'


block content

	//-include ./blocks/_admin-pannel.pug
	//-+navPannelSmallScreen('hidden', 'showed', 'hidden')

	+workSingleBlock('showed')
	
	footer
		include ./blocks/_footer.pug