extends ./templates/_template.pug

block variables
	- var title = 'Работы'
	- var bodyClass = 'big'


block content

	+navPannelSmallScreen('showed', 'hidden', 'hidden')

	+header('navigation-main', 'navigation-main__link', 'hidden', 'hidden', 'showed', 'background-image: url(usercontent/img/users/user-photo-02.jpg)', 'user-photo--logedUser', 'Имя Фамилия', 'Пользователь', 'button--userInfo', 'Профиль', 'Выход')

	include ./blocks/_works-block.pug
	
	footer
		include ./blocks/_footer.pug