extends ./templates/_template.pug

block variables
	- var title = 'Работа'
	- var bodyClass = 'big-transparent'


block content

	include ./blocks/_navPannel-smallScreen.pug

	+work-single('hidden')

	footer
		include ./blocks/_footer.pug