.check-visible{
	position: relative;
	
	#checkbox{
		font-size: 10px;
		color: #FFF;
		font-weight: 400;
		padding: 0 15px;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		
		a{
			color: #FFF;
			padding-top: 5px;
		
		    @media (min-width: 768px) {
		    padding-top: 2px;            
            }
            @media (min-width: 992px) {
		    //padding-top: 5px;
            }
            @media (min-width: 1200px) {
		    padding-top: 0;
            }  
		}

		.checkbox-fake{
			display: block;
			width: 20px;
			height: 20px;
			background-image: url('../img/icons/checkNon.png');
			
			&:after{
				content: "Запомнить";
				position: absolute;
				color: #FFF;
				left: 40px; 
                top: 5px;
				width: 0;
				height: 0;
				
				@media (min-width: 768px) {
                left: 45px;
                top: 2px; 
                }
                @media (min-width: 992px) {
                //left: 45px;  
                top: 2px;     
                }
                @media (min-width: 1200px) {
                //left: 45px;  
                top: 0px; 
                }   
			}
		}

	.checkbox:checked + .checkbox-fake {           //
		background-image: url('../img/icons/check.png');
	}

	.checkbox{
		display: none;	
	}

	@media (min-width: 768px) {
		font-size: 14px;		
	}
	@media (min-width: 992px) {
		font-size: 15px;
	}
	@media (min-width: 1200px) {
        font-size: 16px;
    }	
}

}
