.authenticate__card{
	border-radius: 7px;
	background-color: rgba(37, 37, 37, 0.6); //rgb(18, 45, 61);
	box-shadow: 0px 10px 40px 0px rgba(99, 117, 138, 0.6);
	text-align: center;
	z-index: 77;
	padding: 0 10px;
	margin: auto;
	width: 50%;
	position: relative;
	
	@media (min-width: 500px) {
	width: 40%;
    }	
    @media (min-width: 650px) {
	width: 30%;
    }		
	@media (min-width: 768px) {
	width: 30%;
    }
    @media (min-width: 992px) {
    padding: 0 20px;
	width: 22.5%;
    }
    @media (min-width: 1200px) {
    }	

.authenticate__name{
	padding-top: 12px;	
	padding-bottom: 12px;
	font-size: 15px;	
	font-weight: 700;
	color: #FFF;		
	font-family: 'Open Sans';			

	h3{
		margin: 0;
	}

	@media (min-width: 768px) {
		font-size: 20px;
		padding-top: 12px;	
		padding-bottom: 12px;		
	}
	@media (min-width: 992px) {
		font-size: 22px;
		padding-top: 12px;	
		padding-bottom: 12px;
	}
	@media (min-width: 1200px) {
		font-size: 28px;
		padding-top: 15px;	
		padding-bottom: 15px;
	}	
}

.authenticate__form{
	.submit-button{
		background-color: #FFF;
        border-color: @blue !important;	
		border: 2px solid;
		&:hover{
			background-color: @blueLight !important;
		&:active{
			color: @grey;
			border-color: @grey !important;			
	    } 
			
		}
	}
}

.authenticate__input{
	width: 87%;
	background-color: #FFF;
	color: #00599a;
	font-weight: 500;
	font-family: 'Open Sans';
	font-size: 12px;
	margin: 0 0 13px 0;
	    padding: 5px;// -15px 0 15px !important;		
	    border: none;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	    background-color: #FFF;

	    &:hover, &:focus, &:active,{
	    }

	    @media (min-width: 768px) {
	    	font-size: 14px;
	    	margin: 0 0 12px 0;
	    	padding: 9px;
	    }
	    @media (min-width: 992px) {
			//font-size: 14px;
			//margin: 0 0 12px 0;
			//padding: 9px;
		}
		@media (min-width: 1200px) {
			font-size: 16px;
			margin: 0 0 15px 0;
			padding: 11px;
		}	
	}
}