.error-single{
	//display: none;
	
	@corner: 15px;  //12px;    
    &:after{
        content: "";
        position: absolute;
        left: 70px;  //17
        margin-top: -15px;        
        margin-left: -@corner;
        border-top: @corner solid @red;
        border-right: @corner solid transparent;
        border-left: @corner solid transparent;                         
    } 
}

.error-single:last-child{
		margin-top: 7px;
}

.error{ 
	background-color: @red;
	color: #FFF;
	font-weight: 500;
	font-family: 'Open Sans';
	font-size: 16px;   //12px;
	text-align: left;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: none;
	margin: 0 0 13px 0;
	padding: 11px;   //5px;  
	
	p{
		margin: 0;
		padding: 0;
	}

		@media (min-width: 768px) {
			margin: 0 0 12px 0;
		}
		@media (min-width: 992px) {
		}
		@media (min-width: 1200px) {
			margin: 0 0 15px 0;
		} 
}

form#writeReview .error p{
	@media (max-width: 767px) {
		font-size: 12.5px;		
	}
}

.error__info{
		color: #38505E;    
		background-color: rgb(224, 233, 238); 
		-webkit-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
        padding: 11px;   //5px;
        font-size: 16px;	
		
		p{
			a{
				color: #38505E;
				cursor: pointer;
			}
		}
	}  


.authenticate-error{
		margin-bottom: 13px;
		-webkit-border-radius: 8px;
		        border-radius: 8px;
		    
		.error{
			margin-bottom: 0;
			-webkit-border-radius: 8px 8px 0 0;
		border-radius: 8px 8px 0 0;
		}
} 

#reviewError{
		height: 160px;
		padding: 0;
		color: @black;
	    background-color: @greyVeryLightOpacity;
	    text-align: center;

	    a{
		    color: @blue;
	    }
}