footer{
}

#footer .row{
	.col-md-3{
		@media (min-width: 768px){ 
		padding-left: 0;
		padding-right: 0;
	    }         
	}
}

.footer{
	background-color: @grey;		 
	padding-top: 60px;
	padding-bottom: 60px; 
	@media (min-width: 768px){
    -webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;            
	}
	@media (min-width: 992px){
	padding-top: 60px;
	padding-bottom: 80px;             
	}
	@media (min-width: 1200px){ 
	//padding-top: 45px;
	//padding-bottom: 53px;          
	} 
	
//=======================================================================
.navigation-footer{
	margin: 0;
	padding: 50px 0 40px 0;
	font-weight: 400;
	text-align: left;
	font-size: 16px;
		
			@media (min-width: 768px){
	        padding: 0 0 0 0;                 
			}
			@media (min-width: 992px){
			}
			@media (min-width: 1200px){
			}	

	li{
			margin: 0;
			padding: 0; 
			display: block;
			list-style-type: none;					  
			padding-bottom:  25px; 
			 
				@media (min-width: 768px){												
				}
				@media (min-width: 992px){                                     
				}
				@media (min-width: 1200px){                                     
				}
	}

	a.navigation-footer__link {
	text-decoration: underline;
	color: @white; 
		&:hover{
			color: @greyLight;
			text-decoration: none;
		   }
	}
}

//=======================================================================
.footer-small{
		position: inherit;
	    text-align: left;
		padding-top: 0;
		padding-bottom: 0;
		font-size: 16px;
		p{
			@media (min-width: 768px){
			margin-bottom: 8px;                                
			}
			@media (min-width: 992px){
			margin-bottom: 10px;                                
			}
			@media (min-width: 1200px){
			margin-bottom: 12px;                                
			}
		}
}

.social{
font-size: 32px;

	.fa{
		margin-right: 40px;
		color: #fff;        
		&:last-child{
			margin-right: 0;
		}

		@media (min-width: 768px){
			&:last-child{
			margin-right: 0;
		    }
		    &:nth-child(3){
			margin-left: 8px;
			margin-right: 47px;
		    } 
		}		
	}

	a{
		text-decoration: none;  
		border-bottom: none;
		padding-bottom: 10px;
		&:hover{
				color: @yellow;                
			} 
	}
}
}