body.big .header {
	background-image: url('../img/logo-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
}

body.big-transparent .header{
	background-color: transparent;
	a, p{
	    color: @black;		
	}
}

.header-small{
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	   @media (min-width: 992px){
		-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			            -webkit-justify-content: space-between;
			            	        justify-content: space-between;	
	    }

	.logo__link{	        
	}

	.logo__title{
		padding-left: 6px;
		@media (min-width: 768px){
	        //padding-top: 30px;
	        padding-left: 30px;
	        }
	    @media (min-width: 992px){
	        padding-left: 40px;
	        }
	    @media (min-width: 1200px){
	        padding-left: 55px;
	        }
	}

	.authenticate__links{
	    font-size: 16px;
	        @media (max-width: 991px){
            -ms-text-align-last: center;
            text-align-last: center;
	        margin-bottom: 30px;
	        
	            a{
	            	padding-left: 0;	    	
	            }
	        }	    	
	}

	.logo__link{
		 display: flex;
		 -webkit-flex-direction: row;
		     -ms-flex-direction: row;
		         flex-direction: row;
            -webkit-justify-content: center;
                    justify-content: center;
	    @media (min-width: 992px){
           
	        }
	}

	.logo__icon{
		position: inherit;
		margin-left: -3.5%;
		
		@media (min-width: 992px){
	        //position: absolute;
	        margin-left: unset;
	        }
	}
	
}

.header__left {
}

.header__right {	
}