.info{
	width: 100%;
	
	ul{
		margin: 0;
		padding: 0;
	}

	i.fa-trash-o{
	margin-top: 6px;
	margin-left: 0;
	margin-right: 0;
	}
}

.profile-info{
	padding-top: 15px;
	padding-bottom: 15px;
	p{
		margin-bottom: 2px;
		@media (min-width: 768px){
		margin-bottom: 5px;	
	    }
	}
}	

.info__list--article ul li{
	margin-right: 5px;
	@media (min-width: 992px){
		margin-right: 10px;
		
	}
}	

.info__list{
	display: flex;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
		@media (min-width: 992px){
		 -webkit-flex-direction: row;
		 -ms-flex-direction: row;
			flex-direction: row;
	   }

	   .info__element--userName{
		padding-top: 4px;
		//margin-left: 0;
		@media (min-width: 992px){
			padding-top: 0px;			
		}
	}

	   i.fa-clock-o{	    
			@media (min-width: 992px){
				margin-left: 9px;
			}
	}
}

.info__list-small{
	display: flex;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column;
		@media (min-width: 768px){
		 -webkit-flex-direction: row;
		 -ms-flex-direction: row;
			flex-direction: row;
	   }

	.info__element--userDate{
		padding: 0;
	}

	i.fa-clock-o{
		margin-left: 0px;
		margin-right: 5px;
		@media (min-width: 768px){
			margin-left: 9px;
			margin-right: 5px;
		}
	}
}

.info__list-big{
	@media (min-width: 992px){
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
		}
}

.info__element{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	font-weight: 600;
}

.info__element--userName{
		font-size: 16px;  
		font-weight: 900; 
		margin-left: 0; 	
}

.info__element--userNameAdmin{
	font-size: 16px;  
	font-weight: 900; 
	color: @white;
	@media (min-width: 992px){
		color: @black;
	}	
}

.info__element--userDate{
	padding-top: 4px;
	@media (min-width: 992px){
		padding-top: 3px;
	}
}

.info__element--experiencePeriod{
	padding-top: 4px;
	@media (min-width: 992px){
		padding-top: 3px;
	}
}

.info__element--userMessageDate, .info__element--experiencePeriod{
	margin-left: 0;
}

.info__element--experiencePeriod{
	
	@media (min-width: 992px){
		
	}
}

.info__element--userType{
	color: @white;
	font-weight: 400;
	opacity: 0.5;
	@media (min-width: 992px){
		color: @bluePale;
		margin-top: -3px;
		margin-bottom: 7px;
	}
}