.logo {
	//color: #FFF;
	//font-size: 16px;
	font-weight: 700;
	padding-left: 30px;
	padding-top: 20px;
	//-bottom: 5px;
	
	@media (min-width: 768px) {
		padding-left: 65px;
		padding-top: 30px;
		//margin-bottom: 20px;
		}
		@media (min-width: 992px) {
		padding-left: 80px;
		padding-top:40px;
		//margin-bottom:30px;
		}
		@media (min-width: 1200px) {
		padding-left: 90px;
		padding-top: 40px;
		//margin-bottom: 40px;
		}	
	
	p{
		font-size: 10px;
		
		@media (min-width: 768px) {
		font-size: 15px;
		}
		@media (min-width: 992px) {
		font-size: 16px; //18px;
		}
		@media (min-width: 1200px) {
		font-size: 18px;
		}	
	}
}

.logo__link {
	display: block;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	position: relative;
	
	@media (min-width: 768px) {
		font-size: 26px;		
	}
	@media (min-width: 992px) {
		font-size: 30px;
	}
	@media (min-width: 1200px) {
		font-size: 32px;
	}
}

.logo__icon {
	position: absolute;
	left: -20px;
	top: 5px;
	display: block;
	//font-size: 32px;	
	@media (min-width: 768px) {
	left: -40px;
	top: 6px;					
	}
	@media (min-width: 992px) {
	left: -45px;
	top: 8px;	
	}
	@media (min-width: 1200px) {
	left: -50px;
	//top: 8px;	
	}
}

.logo__title {
	display: block;
	font-weight: 800;
	//font-size: 32px;
}

.logo__tagline {
	font-size: 16px;
	font-weight: 400;
	color: #81C5EE;	
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}