#map{
	width: 100%;
	height: 600px;
	
	background: -moz-radial-gradient( center center, contain, @white, transparent ), @gradientMap; 
    background: -webkit-radial-gradient( center center, contain, @white, transparent ), @gradientMap; 
    background: -o-radial-gradient( center center, contain, @white, transparent ), @gradientMap; 
    background: -khtml-radial-gradient( center center, contain, @white, transparent ), @gradientMap; 
    background: -ms-radial-gradient( center center, contain, @white, transparent ), @gradientMap; 
    background: radial-gradient( center center, contain, @white, transparent ), @gradientMap;
 
    background-size: 100% 7px;
}