.navigation-main {
    display: none;
    margin: 0;
	//padding-left: 30px;
	//padding-top: 20px;
	
	    @media (min-width: 768px) {
		//padding-left: 65px;
		//padding-top: 30px;		
		}
		@media (min-width: 992px) {
	    display: flex;
		padding-left: 100px;
		padding-bottom: 35px;		
		//padding-top:35px;
		}
		@media (min-width: 1200px) {
		//padding-left: 90px;
		//padding-top: 40px;

		}	
	
	
    list-style-type: none;    
    
    li{        
        padding-right: 17px;	
        &:last-child {
		padding-right: 0;
	    }			
		    @media (min-width: 768px) {	
	        padding-right: 32px;		
	        }
	        @media (min-width: 992px) {
	        padding-right: 40px;		
	        }
	        @media (min-width: 1200px) { 
	        padding-right: 50px;        
            }	
    }	
}

.navigation-main__link {
	color: #FFF;
	font-size: 8px;		
		@media (min-width: 768px) {
		font-size: 13px;		
	    }
	    @media (min-width: 992px) {
		font-size: 16px;
	    }
	    @media (min-width: 1200px) {
        font-size: 18px;        
        }	

      &:hover, &:active{
      	text-decoration: none;
      }
}
