.section{
	padding-top: 26px;
	padding-bottom: 15px;
	//border-bottom: 1px solid #e9eff3;
	
	@media (min-width: 768px){
		padding-top: 41px;
	    padding-bottom: 24px;		
	}
	@media (min-width: 992px){
		padding-top: 53px;
	    padding-bottom: 31px;		
	}
	@media (min-width: 1200px){
		padding-top: 64px;
	    padding-bottom: 37.5px;	
	}

	p{
    	margin: 0;
    	font-size: 8px;
    	
    	@media (min-width: 768px){
		font-size: 10px;
	    }
	    @media (min-width: 992px){
		font-size: 13px;		
	    }
	    @media (min-width: 1200px){
		font-size: 16px;
	    }
    }

	.col-sm-2,.col-lg-3,.col-sm-10,.col-lg-9{
		@media (min-width: 768px){
            padding-left: 0;
	        padding-right: 0;
        }
    }

    .section__content{
    	padding-bottom: 6px;
    	
    	@media (min-width: 768px){
    	padding-bottom: 9.6px;
	    }
	    @media (min-width: 992px){
    	padding-bottom: 12.4px;		
	    }
	    @media (min-width: 1200px){
    	padding-bottom: 15px;
	    } 
    }

    .section__content--comments{
    	padding-top: 6px;    	
    	    @media (min-width: 768px){
    	    padding-top: 9.6px;
	        }
	        @media (min-width: 992px){
    	    padding-top: 12.4px;		
	        }
	        @media (min-width: 1200px){
    	    padding-top: 15px;
    	    }
    	p{
	    	padding-top: 2px;
	    	@media (min-width: 768px){
    	    padding-top: 4.32px;
	        }
	        @media (min-width: 992px){
    	    padding-top: 5.58px;		
	        }
	        @media (min-width: 1200px){
    	    padding-top: 6.75px;
	        } 
	    }
	}    	
}