.user-photo{
	width: 96px;
    height: 96px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 33px;
	
	-webkit-border-radius: 110px;
	        border-radius: 110px;
	//background-image: url("../../usercontent/img/photo-big.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	
	@media (min-width: 768px){
		margin-bottom: 40px;
		margin-top: 15px;
	}	
	@media (min-width: 1200px){
		    width: 205px;
		    height: 205px;			
	}
}

.user-photo--small{    
		margin-top: 20px;
		margin-bottom: 0px;
		
		@media (min-width: 768px){
		    width: 32px;
		    height: 32px;			
	    }
	    @media (min-width: 992px){
		    width: 41.33px;
		    height: 41.33px;			
	    }    
        @media (min-width: 1200px){
		    width: 50px;
		    height: 50px;			
	    }
}